<%- css('css/test.css') %>
<script src="<%- config.root %>js/jquery.min.js"></script>
<script src="<%- config.root %>js/main.js"></script>
<script src="<%- config.root %>js/pic.js"></script>
<%- partial('_partial/head') %>

<body>
<%- partial('_partial/side-panel') %>
  <div id="container">
    <div class="left-col">
      <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="body-wrap">
        <%- body %>
      </div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/tools') %>
    <%- partial('_partial/viewer') %>
  </div>
</body>
</html>